<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matador de Monstros</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="./assets/espadas.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <main id="desafio">

        <!-- Painel de Status dos Personagens -->
        <section class="secao status">
            <!-- Status do Personagem -->
            <article class="statusPersonagem">

                <!-- Nome do Personagem -->
                <h1>Jogador</h1>

                <!-- Barra de Life -->
                <div class="barra barraLife">

                    <!-- Porcentagem de Life = :classe condicional + :estilo condicional -->
                    <div class="life" :class="{
                            ferido: lifeJogador < 75 && lifeJogador >= 25, perigo: lifeJogador < 25
                            }" :style="{
                            width: lifeJogador + '%'
                        }"></div>

                </div>


                <!-- Mostrador de Life -->
                <span>{{ lifeJogador }}%</span>

                <!-- Contabilizando Especial -->
                <div class="barra barraEspecial">

                    <!-- Quantidade de Especiais = :estilo condicional -->
                    <div class="life especial" :style="{width: especial * 50 + '%'}">
                    </div>

                </div>

                <!-- Mostrador de Especiais -->
                <span>Especial: {{ especial }} / 2</span>

                <!-- Contabilizando Especial -->
                <div class="barra barraCura">

                    <!-- Quantidade de Especiais = :estilo condicional -->
                    <div class="life cura" :style="{width: heal * 50 + '%'}">
                    </div>

                </div>

                <!-- Mostrador de Curas -->
                <span>Cura: {{ heal }} / 2</span>

            </article>

            <img class="espadas" src="./assets/espadas.png" alt="Imagem de Duas Espadas Cruzadas">

            <!-- Status do Personagem -->
            <article class="statusPersonagem">

                <!-- Nome do Personagem -->
                <h1>Monstro</h1>

                <!-- Barra de Life -->
                <div class="barra barraLife">

                    <!-- Porcentagem de Life=  :classe condicional + :estilo condicional -->
                    <div class="life" :class="{
                            ferido: lifeMonstro < 75 && lifeMonstro >= 25,
                            perigo: lifeMonstro < 25
                        }" :style="{
                            width: lifeMonstro + '%'
                        }"></div>

                </div>

                <!-- Mostrador de Life -->
                {{ lifeMonstro }}%

            </article>

        </section>

        <!-- Painel de Resultado da Batalha -->
        <section class="secao resultado" v-if="temResultado">
            <!-- Diretivas Condicionais, para mostrar a mensagem condizente com o vencedor -->
            <template v-if="lifeMonstro == 0">
                <p class="vencedor">Você Ganhou</p>
            </template>

            <template v-else>
                <p class="perdedor">Você Perdeu</p>
            </template>

        </section>

        <!-- Painel de Controles do Jogo -->
        <section class="secao controles">

            <!-- Controles Durante a Partida -->
            <template v-if="jogando">

                <!-- Botão de Ataque. recebe 'falso' para a propriedade 'especial' -->
                <button class="botao ataque" @click="atacar(false)">
                    Ataque

                </button>

                <!-- Botão de Ataque. recebe 'verdadeiro' para a propriedade 'especial' -->
                <button class="botao especial" @click="atacar(true)" v-if="especial >= 1">
                    Especial

                </button>

                <!-- Botão de Cura -->
                <button class="botao cura" @click="curarEmBatalha()" v-if="heal >= 1">
                    Curar

                </button>

                <!-- Botão de Quit - Muda o valor da variavel 'jogando' para false (Saindo da Partida) -->
                <button class="botao desistir" @click="jogando = false">
                    Desistir
                </button>

            </template>

            <!-- Controle fora da Partida -->
            <template v-else>

                <!-- Botão para Iniciar Partida - Reseta: life dos personagens e logs - muda Variável 'jogando' para true -->
                <button class="botao" @click="iniciarPartida()">
                    Iniciar Partida
                </button>

            </template>

        </section>

        <!-- Painel de Logs da Batalha. Indica os Valores de dano e cura da batalha - Visivel apenas se houver Logs -->
        <section class="secao logs" v-if="logs.length">
            <ul>

                <!-- Lista condicional, percorre os 'valores' da lista 'logs' - :classe condicional, cada personagem recebe uma estilização nos seus logs -->
                <li :class="log.classe" v-for="log in logs">

                    <!-- Aparece texto do registro do Log -->
                    {{ log.texto }}
                </li>
            </ul>

        </section>

    </main>

    <!-- Importando Instancia Vue (type="module", usado por conta da sintaxe 'EcmaScript') -->
    <script type="module" src="app.js"></script>
</body>

</html>