<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matador de Monstros</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <main id="desafio">

        <section class="secao status">

            <article class="statusPersonagem">

                <h1>Jogador</h1>

                <div class="barraLife">

                    <div 
                        class="life"
                        :class="{
                            ferido: lifeJogador < 75 && lifeJogador >= 25, perigo: lifeJogador < 25
                        }"
                        :style="{
                            width: lifeJogador + '%'
                        }"
                    ></div>

                </div>

                {{ lifeJogador }}%

            </article>            
            
            <article class="statusPersonagem">

                <h1>Monstro</h1>

                <div class="barraLife">

                    <div 
                        class="life"
                        :class="{
                            ferido: lifeMonstro < 75 && lifeMonstro > 25,
                            perigo: lifeMonstro < 25
                        }"
                        :style="{
                            width: lifeMonstro + '%'
                        }"
                    ></div>

                </div>

                {{ lifeMonstro }}%

            </article>

        </section>

        <section class="secao resultado"
            v-if="temResultado"
        >

            <template v-if="lifeMonstro == 0">
                <p class="vencedor">Você Ganhou</p>
            </template>

            <template v-else>
                <p class="perdedor">Você Perdeu</p> 
            </template>

        </section>

        <section class="secao controles">

            <template v-if="jogando">

                <button 
                    class="botao ataque"
                >
                    Ataque

                </button>

                <button 
                    class="botao especial"
                >
                    Ataque Especial

                </button>

                <button 
                    class="botao cura"
                >
                    Curar

                </button>

                <button 
                    class="botao desistir"
                    @click="jogando = false"
                >
                    Desistir
                </button>

            </template>

            <template v-else>

                <button 
                    class="botao"
                    @click="iniciarPartida"
                >
                    Iniciar Partida
                </button>

            </template>

        </section>

        <section class="secao logs"></section>

    </main>

    <script src="app.js"></script>
</body>

</html>