/* Caixa de interação */
.caixa-interacao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: solid gray;
}

.caixa-botoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.botao{
    width: 15%;
    padding: 1rem;
    background-color: #00a6ff;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    opacity: .8;
}

.ataque {
    background-color: green;
}

.ataqueEspecial {
    background-color: orangered;
}
.curar {
    background-color: yellowgreen;
}

.desistir {
    background-color: rebeccapurple;
}

.botao:hover {
    opacity: 1.5;
    color: black
}
