.controles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botao {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    opacity: .5;
    background-color: #44dd44;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

.botao:hover {
    opacity: 1;
}

.ataque {
    background-color: #112233;
    color: #fff
}
.especial {
    background-color: #cc7422;
}
.cura {
    background-color: #5dd;
}
.desistir {
    background-color: #8888
}