/* Caixa dos Players */
.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid gray
}

.status {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Classes da Barra de Life */
.barra-life {
    width: 100%;
    height: 35px;
    margin: 1rem;
    border: solid black;
    border-radius: 10px;
}

/* Classe Dinamica -> Recebe a largura baseada na quantidade de Life */
.life {
    height: 100%;
    border-radius: 5px;
    padding-left: .5rem;
}

.saudavel {
    background-color: green;
}

.ferido {
    background-color: yellow;
}

.perigo {
    background-color: red;
} 

.valor-life {
    font-size: 1.5rem;
}

