@import url('');
@import url('./controles.css');
@import url('./log.css');
@import url('./resultado.css');
@import url('./status.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.secao {
    max-width: 1024px;
    margin: 0 auto;
    border-bottom: .2px solid black;
    padding: 2rem 0;
}



